*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #434455;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 0;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

div {
  display: block;
  unicode-bidi: isolate;
}

address {
  display: block;
  unicode-bidi: isolate;
}

img {
  display: block;
}

.container { 
  width: 1158px;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  }
  
/* #region header*/

header div {
  display: block;
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-right: 76px;
}

.navigation-elem {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin: 0;
  
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navigation-elem .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.navigation-elem .logo-studio-element {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.page-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-studio {
  position: relative;
  color: #404bbf;
}

.page-link:hover,
.page-link:focus {
  color: #404bbf;
}

.list-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address-section {
  font-style: normal;
}

.address-elements {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
  margin: 0;
}

.address-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-elements .address-link:hover,
.address-elements .address-link:focus {
  color: #404BBF;
}

/* #endregion */

/* #region main*/

main {
  display: block;
  unicode-bidi: isolate;
}

.section-hero {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
}

.page-title {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
}

.order-button {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  color: white;
  background-color: #404BBF;
}

.advantages {
  padding: 120px 0;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icons-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.advantages-icons-li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8E8F99;
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;

  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.advantages-icons-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.container .advantages-ul {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.advantages-ul {
  text-align: left;
  display: flex;
  gap: 24px;
}

.advantages-li {
  width: calc((100% - 72px) / 4);
}

.studio-adv-title {
  margin-bottom: 8px;
}

.our-team-section {
  background-color: #F4F4FD;
  padding: 120px 0;;
}

.our-team-title {
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.container .our-team-ul {
  display: flex;
  gap: 24px;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  margin: 0;
}

.our-team-li {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-info {
  padding: 32px 0;
}

.our-team-names {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-p {
  font-size: 16px;
  text-align: center;
}

.our-team-icons-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.our-team-icons-li {
  width: 40px;
  height: 40px;
}

.our-team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icons-link:hover,
.our-team-icons-link:focus {
  background-color: #404BBF;
}

.our-team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #F4F4FD;
}

.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}

.our-portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-li:hover,
.our-portfolio-li:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-li:hover .our-portfolio-text-animation,
.our-portfolio-li:focus .our-portfolio-text-animation {
  transform: translateY(0);
}

.our-portfolio-cards-image {
  position: relative;
  overflow: hidden;
}

.our-portfolio-text-animation {
  padding: 40px 32px;
  margin: 0;
  color: #F4F4FD;
  background-color: #4D5AE5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-text-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-cards-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region footer*/

.footer-section{
  padding: 100px 0;
  background-color: #2E2F42;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo-p {
  margin: 0;
  padding: 0;
  width: 264px;
  margin-right: 120px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer .logo-studio-element {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
  display: inline-block;
}

.footer-text {
  color: #F4F4FD;
  max-width: 264px;
}

.social-div {
  max-width: 208px;
  padding: 0;
  margin: 0;
}

.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.icons-ul-footer {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding: 0;
  margin: 0;
  height: 40px;
}

.icons-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #F4F4FD;
}

.icons-link-footer:hover,
.icons-link-footer:focus {
  background-color: #31D0AA;
}
/* #endregion */
